/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.no-padding {
    padding: 0 !important;
}

.nav-header .file-selection-container {
    margin: 4px auto;
    padding: 0;
}

.file-selection-container {
    position: relative;
}